* {
    box-sizing: border-box;
}

body {
    background: #000000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.git:hover {
    transition: transform 1s ease-out;
    transform: rotate(360deg);
}
